body {
    background-color: #e7e7e7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

/* this element encompasses the entire application html */
.app {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

/* this element is below the header */
main {
    width: 100%;
    height: 100%;
    min-height: 600px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: stretch;
    display: flex;
    flex: 3 1 auto;
}

/* this element is next to the sidebar and encompasses the content */
.content {
    width: 100%;
    height: 100%;
    flex: 3 1 auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-self: stretch;
}

.body {
    width: 100%;
    padding: 35px 20px 35px 20px;
    box-sizing: border-box;
    margin: 0;
    min-height: 300px;
    overflow-x: hidden;
}

.table-wrapper {
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    overflow: hidden;
}

.table-wrapper > table.dataTable {
    max-width: 865px !important;
}

/* chart */
.chart-container {
    position: relative;
    margin: auto;
    max-height: 500px;
    width: 100%;
    background: transparent;
    padding: 5px;
    box-sizing: border-box;
}

.carousel-js {
    width: inherit;
    max-width: 100% !important;
    overflow: hidden;
    min-height: 200px;
    box-sizing: border-box;
}