
.form-control, .btn, .form-select {
    border-radius: 0;
}

.btn {
    font-family: 'Roboto', Arial, Helvetica, Verdana, sans-serif;
}

label.error {
    color: #cc0505;
    padding: 5px 0 0 0;
    display: block;
    clear: both;
    width: 100%;
}
.form-control.error, .form-select.error {
    border-color: #cc0505;
}

.form-control.error:focus, .form-select.error:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,0,0,0.20);
}

.input-group-text {
    border-radius: 0 !important;
}

.dropzone {
    border-radius: 0;
    border: 1px solid #ced4da;
    font-family: 'Roboto', Arial, Helvetica, Verdana, sans-serif;
    margin: 0 0 15px 0;
}

.tagify__tag-text {
    font-family: 'Roboto', Arial, Helvetica, Verdana, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}


.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
}


i.help {
    display: block;
}

.multiple-select-checkbox {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.multiple-select-checkbox > a.btn {
    width: 50%;
    text-align: center;
    cursor: pointer;
    display: block;
    float: left;
    border-right: 1px solid #ced4da;
    margin: 0;
}

.multiple-select-checkbox > a.btn:hover {
    background-color: #f5f5f5;
}
.multiple-select-checkbox > a.btn.select-all {
    border-left: 1px solid #ced4da;
}

.multiple-select-checkbox > div {
    clear: both;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #ced4da;
}

.multiple-select-checkbox > div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.multiple-select-checkbox > div ul li {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.multiple-select-checkbox > div ul li label {
    display: block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
}
.multiple-select-checkbox > div ul li:hover {
    background-color: #f5f5f5;
}