/* ---------------------------------------------------
    GALLERY
----------------------------------------------------- */
.gallery-container {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}

.gallery-container a {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
    margin: 0;
}
.gallery-container a img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.gallery-container a img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}