.content-image-editor {
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    min-height: 800px;
}

.image-editor {
    width: 100%;
    height: inherit;
    min-height: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

